Services/bin/Debug/netstandard2.0/Services.dll
Services/obj/Debug/netstandard2.0/Services.dll
ServicesTests/bin/Debug/netcoreapp2.2/Services.dll
ServicesTests/bin/Debug/netcoreapp2.2/ServicesTests.dll
ServicesTests/obj/Debug/netcoreapp2.2/ServicesTests.dll
Services/obj/Debug/netstandard2.0/Services.dll
ServicesTests/bin/Debug/netcoreapp2.2/Services.dll
ServicesTests/bin/Debug/netcoreapp2.2/ServicesTests.dll
ServicesTests/obj/Debug/netcoreapp2.2/ServicesTests.dll
ServicesTests/obj/Debug/netcoreapp2.2/ServicesTests.pdb
ServicesTests/bin/Debug/netcoreapp2.2/Services.pdb
Services/obj/Debug/netstandard2.0/Services.pdb
Services/bin/Debug/netstandard2.0/Services.dll
Services/bin/Debug/netstandard2.0/Services.pdb
